<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/app.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <title>Car Gallery</title>
</head>
<body>
  <div class="container">
    <h1>My Cars</h1>

    <!-- Car Upload Form -->
    <h2>Add a Car</h2>
    <form action="/addCar" method="post" enctype="multipart/form-data" class="add-form">
      <input type="text" name="carName" placeholder="Car name" required>
      <input type="file" name="carImage" accept="image/*" required>
      <input type="submit" value="Add Car">
    </form>

    <!-- Search Bar -->
    <h2>Search Cars</h2>
    <form action="/search" method="get" class="search-form">
      <input type="text" name="q" placeholder="Enter car name ">
      <input type="submit" value="Search" class="search-btn">
    </form>

    <!-- Display Cars -->
    <h2>Gallery</h2>
    <div class="img-container">
      <% carStore.forEach(car => { %>
        <div class="car-item">
          <img src="<%= car.image %>" alt="<%= car.name %>" class="image">
          <p><%= car.name %></p>
        </div>
      <% }) %>
    </div>
  </div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const imgContainer = document.querySelector('.img-container');
      const searchForm = document.querySelector('.search-form');
  
        if (imgContainer && imgContainer.children.length > 0) {
        imgContainer.style.display = 'flex';
      }
  

      searchForm.addEventListener("submit", function() {
        imgContainer.style.display = 'flex';
      });
    });
  </script>
</body>
</html>
